.onboardingContainer {
  text-align: center;

  height: 100vh;
  background: #9faff9;
}

.onboardingContainer strong {
  font-size: 20px;
  line-height: 26px;
}

.onboardingContainer p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.onboardingContainer a {
  text-decoration: none;
}

.onboardingContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 8%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  position: relative;
  /* line-height: 72px; */
  /* identical to box height */

  color: #ffffff;
}

.edu {
  color: white;
}

.continue {
  width: 90%;
  max-width: 500px;
}
.description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  /* line-height: 21px; */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#disclaimer {
  font-style: normal;
  font-weight: 500;
  font-size: 8pt;
  color: #ffffff;
}

ion-slides {
  height: 100vh;
}

.swiper-pagination {
  bottom: 93% !important;
}

.header {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #f6c545;
}
.rounded-input {
  border-radius: 15px;
}

.slide-content {
  position: absolute;
  top: 50px;
  width: 90%;
  max-width: 500px;
}

.sub-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  color: #c4c4c4;
}

.spacer {
  height: 100%;
}
